# This is not a real Debian control file
# It's project metadata for the shipper tool

Package: cvsps

Description: Collect changesets from CVS repositories.
 This tool can be used either by humans to inspect changesets or
 as an exporter from CVS to other version control systems - it can be told
 to emit a fast-export stream to standard output.

XBS-Destinations: freecode

XBS-Gitorious-URL: https://gitorious.org/cvsps/

XBS-Ohloh-URL: https://www.ohloh.net/p/cvsps

Homepage: http://www.catb.org/~esr/cvsps

XBS-HTML-Target: index.html

XBS-Freecode-Tags: version control, cvs, git

XBS-VC-Tag-Template: %(version)s

